@import url(./reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root{
    --container-width: 1280px;
    --container-padding:20px;
    --secondary:rgba(15, 31, 28, 0.5);
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
}
 .none{
    display: none !important;
 }

 .container{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
 }
 .container-right{
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) );
 }

 .header{
    position: relative;
    min-height: 940px;
     padding-top: 44px;
     overflow: hidden;

    background: linear-gradient(154deg, #428e5f 0%, #112120 100%), #204434;
    color: #fff;
 }
 .header a{
     color: inherit; 
 }
 .header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    
    background-image: url(../img/header/header.bottom.svg);
    background-size: 100%;
 } 

 /* Nav */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
     margin-bottom: 86px;
     font-size: 15px;
     font-weight: 500;
}
.nav__logo{
    font-size: 20px;
    font-weight: 700;
}
.nav__logo a{
    color: inherit;
}
.nav__menu{
  display: flex;
  column-gap: 80px;
 
}
.nav__menu--header a{
    position: relative;
} 
.nav__menu--header a::before,
.nav__menu--header .home--active::before{
    content: "";

    position: absolute;
    height: 3px;
    border-radius: 10px;
    width: 0;
    left: 0;
    top: 23px;
    bottom: 0;
    background-color: #fff;
    transition: all .5s ease;
}
 .nav__menu--header a:hover::before,
 .nav__menu--header .home--active::before{
    width: 80%;
}
.nav__login{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.nav__btn{
    display: inline-block;
    padding: 13px 44px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;

    background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%) ;
    transition: all 0.5s ;
    color: #fff;
}
.nav__btn:hover{
    color: rgba(255, 242, 157);
    transform: scale(1.1);
 }
 .nav__btn:active{
     position: relative;
     top: 2px;
 }
 .burger img{
    width: 30px;
    height: 30px;
 }
 .burger{
    display: none;
    right: 15px;
 }

/* Header__row */

.header__row{
    display: flex;
}
/* Header__content */
.header__content{
    max-width: 592px;
    width: 100%;
    z-index: 1;
}
.header__badge{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 30px;
    margin-bottom: 7px;

  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}
h1{
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 30px;
}
.header__text{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 68px;

    color: rgba(255, 255, 255, 0.5);
}
.header__btn{
    display: inline-block;
    padding:26px 48px;
    border-radius: 27px;
    font-size: 25px;
    font-weight: 600;

    color: #FEFEFE;
    background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%) ;
    transition: all 0.5s;
}
.header__btn:hover{
   color: rgba(255, 242, 157);
   transform: scale(1.1);
}
.header__btn:active{
    position: relative;
    top: 2px;
}
/* Header__img */

.header__img{
    position: relative;
    flex-grow: 1;
}
.header__img img{
    position: absolute;
    top: -181px;
    right: -87px;

    max-width: unset;
    width: 894px;
    height: 940px;
    pointer-events: none;
}
.header__img::after{
    content: "";

    position: absolute;
    width: 830px;
    height: 622px;

    right: -50px;
    top: -20px;
    background-image: url(./../img/header/header--elements.svg); 
    pointer-events: none;
}

/* Destinations */
.destinations{
    padding: 96px 0 100px;
    color: #0F1F1C;
    overflow-x: hidden;
}
.destinations__row{
    display: flex;
    column-gap: 50px ;
}
/* Destinations__content */

.destinations__content{
    max-width: 456px;
    width: 100%;
}
.destinations__title{
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 15px;
}
.destinations__title span{
    font-size: 30px;
}
.destinations__text{
    color: var(--secondary);
    font-size: 20px;
    font-weight: 500;
    margin-bottom:60px;
}
.btn{
    display: inline-block;
    padding:25px 44px;
    border-radius: 27px;
    font-size: 20px;
    font-weight: 600;

    color: #FEFEFE;
    background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%) ;
    transition: all 0.5s;
}
.btn:hover{
    color: rgba(255, 242, 157);
    transform: scale(1.1);
 }
 .btn:active{
     position: relative;
     top: 2px;
 }
/* Destinations__sliders */

.destinations__slider{
    width: 1110px; 
    flex-shrink: 0;
}
.slider{
      position: relative;
      height: 456px;
}
.slider__slide{
    width: 335px;
    height: 402px;
    margin-top: 27px;
    border-radius: 35px;
    object-fit: cover;
    transition: all 0.3s;
}
.slider .center .slider__slide{
    margin-top: 0;
    width: 380px;
    height: 456px;
}
.slider__btn{
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    background:  linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
}
.slider__btn--next{
    right: -27px;

    padding-right: 26px;
    justify-content: flex-end;
}
.slider__btn--prev{
    left: -27px;
   
    padding-left: 26px;
    justify-content: flex-start;
}

/* CUSTOMERS */

.customers{
   padding: 100px 0;
}
.customers__img {
    max-width: 478px;
    width: 100%;
}
.customers__img img{
    border-radius: 60px;
}
.customers__row{
    display: flex;
    justify-content: space-between;
    column-gap: 68px;
}
.customers__title{
    color: #0F1F1C;
    font-size: 45px;
    font-weight: 500;

    margin-bottom: 35px;
}
.review__client{
    display: flex;
    align-items: center;
    column-gap: 33px;

    margin-bottom: 60px;
}
.review__avatar {
    width: 134px;
    height: auto;
    border-radius: 50%;
     background: #FF794E;
}
.review__title{
    font-size: 33px;
    font-weight: 500;

    margin-bottom: 10px;
}
.review__text{
    font-size: 25px;
    font-weight: 400;
    color: var(--secondary);
}
.review__rating p{
    font-size: 22px;
    font-weight: 500;
    color: var(--secondary);

     margin-bottom: 30px;
}

/* CTA */

.cta{
    padding-top: 133px;
}
.cta__plate{
     position: relative;
    text-align: center;
    padding: 95px 0 115px;
    border-radius: 60px;

    background: #fff;
}
.cta__plate::after,
.cta__plate::before{
   position: absolute;
   width: 63px;
   height: 83px;

   content: "";
}
.cta__plate::before{
    left: 74px;
    bottom: 56px;

    background-image: url(./../img/cta/cta-el-02.svg);
}
.cta__plate::after{
    top: 74px;
    right: 80px;

    background-image: url(./../img/cta/cta-el-01.svg);
}
.cta__title{
    font-size: 45px;
    font-weight: 500;

    margin-bottom:30px;
    margin-top: 20px;
}
.cta__text{
    font-size: 30px;
    font-weight: 400;
    color: var(--secondary);

    margin-bottom: 60px;
}
.cta .btn{
    padding: 0;
    padding: 24px 54px;
}

/* SUBSCRIBE */

.subscribe{
    padding: 135px 0 50px;
}
.subscribe__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe__title{
    text-align: center;
    font-size: 55px;
    font-weight: 600;

    margin-bottom: 60px;
}
.subscribe-form{
    padding: 12px 15px 12px 46px;

    background-color: #fff;
    border-radius: 35px;

    display: flex;
     column-gap: 20px; 
}
.subscribe-form__input{
    font-size: 24px;
    font-weight: 500;
}
.subscribe-form__input::placeholder{
    color: var(--secondary);
}
.subscribe-form .btn{  
    padding: 33px 87px;

    font-size: 25px;
    font-weight: 600;
    border-radius: 35px;
}

/* FOOTER */
.footer{
    padding:56px 0 74px;
}
.nav--footer{
    margin: 0 !important; 
}
.logo--footer{
    color: #FF7C4E;
}
.menu--footer  a{
     color: inherit;
    transition: all .5s;
}
.nav__login--footer a{
    transition: all .5s;
}
.menu--footer{
    color: var(--secondary);
}
.menu--footer a:hover,
.nav__login--footer a:hover{
    color: #FF7C4E;
}
.nav__singn{
    color: var(--secondary);
}

.btn--footer{
    background: #ff7c4e;
}

